
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
}

/* Overriding styles
-------------------------------------------------------------- */

.ribbon span.blogDate { 
	font-size: 1.4em; 
	margin: 16px 0 0;
}

#MmBody {
	min-width: 200px;
}

/* Logo
-------------------------------------------------------------- */

#Logo {
    float: left;
    margin: -40px 0 24px 60px;
    position: absolute;
}

#Logo a {
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent
}

/* Interactive blocks
-------------------------------------------------------------- */
/* Put the background image back in when things are working better */
h4.title.interactive {
/*  background: transparent url(../images/arrow.down.png) top right no-repeat;*/
}
/* Hide these later when JS issues have been sorted */
div.sideNavWrapper {
/*  display: none;*/
}

/* exposed filters */
.views-exposed-form .views-exposed-widget {
  float: none;
  padding: 0;
}

/* Matches view exposed filter form
-------------------------------------------------------------- */

div#SearchOptions {
  clear: right;
  float: right;
  margin: -20px 30px 0 0;
}

div.region-sidebar-right div#matches_form {
  display: none;
  background: none repeat scroll 0 0 #2C2C2C;
/*  position: absolute;
  top: 170px;*/
  margin: -10px 0 10px;
  width: 273px;
  z-index: 100;
  padding: 10px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #F4F5F6;
}

body.not-logged-in div.region-sidebar-right div#matches_form {
  display: block;
}

/* hide the first one */
div.region-sidebar-right div#matches_form div#edit-name-search-wrapper {
  display: none;
}

div.region-sidebar-right div#matches_form input.form-text {
  width: 260px;
}

div.region-sidebar-right div#matches_form label {
  color: #CACACA;
}

div.region-sidebar-right html.js fieldset.collapsible .fieldset-legend {
  background-image: url("../images/arrowdown.gif");
  width: 260px;
  overflow: hidden;
  background-position: 2px 8px;
}

html.js div.region-sidebar-right fieldset.collapsible.collapsed .fieldset-legend {
  background-image: url("../images/arrowright.gif");
  background-position: 5px 5px;
}

html.js div.region-sidebar-right fieldset.collapsible .fieldset-legend a {
  border-bottom: none;
  display: block;
  margin-left: -10px;
  padding: 2px 0px 5px 10px;
  width: 254px;
}

html.js div.region-sidebar-right fieldset.collapsible.collapsed .fieldset-legend a {
  border-bottom: 1px dotted #CACACA;
}

div.region-sidebar-right .fieldset-legend span.summary {
  display: none;
}

div.region-sidebar-right div#matches_form button.btn,
div.region-sidebar-right div#matches_form button.btn span {
  background-image: url("../images/button-sprite-dark.gif");
}

div.region-sidebar-right div#matches_form button#edit-submit-user-search,
div.region-sidebar-right div#matches_form div.views-reset-button {
  float: left;
}

/* This is purely here for the above floated buttons */
div.region-sidebar-right div#matches_form div.views-exposed-widgets {
  overflow: visible;
}

div.bef-select-all-none {
  border-bottom: 1px dotted #CACACA;
}

div.bef-select-all-none a.bef-toggle {
  padding-left: 15px;
}

div.bef-select-all-none ul.bef-tree {
  list-style: none inside none;
  margin: 0 0 5px -15px;
}

div.bef-select-all-none ul.bef-tree li {
  background: none repeat scroll 0 0 transparent;
}

div#edit-field-self-summary-value-wrapper {
  margin-top: 10px;
}

/* Footer
-------------------------------------------------------------- */

.logoMark { 	/* logo symbol in footer */
	width: 95px;
	height: 90px;
	background: transparent url("../images/logo.mini_version.png") no-repeat 0 0;
}	