
/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
}

/* Logo
-------------------------------------------------------------- */
#Logo a {
	background: url("../images/logo.png") no-repeat scroll 0 0 transparent
}